* {
  font-family: "plus Jakarta Sans", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html body {
  background-color: #f6f7f9;
}

body {
  padding-top: 100px;
}

.banner {
  color: white;
  /* Background color */
  background-color: #54a6ff; /* Warna latar belakang */

  /* Gambar berada di atas background */
  background-image: url("/img/banner.png");
  background-position: calc(0% + 30px) center; /* Memberi jarak 20px di kiri */
  background-repeat: no-repeat; /* Gambar tidak diulang */
  border-radius: 10px; /* Membuat border menjadi bulat */
}

.banner .text {
  width: 50%;
  padding: 45px;
}

/* Rata kanan kiri (justify) untuk h2 dan p */
.banner h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: justify; /* Justify teks */
}

.banner p {
  font-size: 20px;
  text-align: justify; /* Justify teks */
}

.banner a {
  text-decoration: none;
  padding: 10px 100px;
  border-radius: 6px; /* Membuat border menjadi bulat */
}

.card-row h6 {
  font-size: 16px;
  text-align: justify;
  font-weight: 600;
}

.card-row p {
  text-align: justify;
  color: #90a3bf;
  font-size: 13px;
  font-weight: 700;
}

.card-row .garis {
  border-left: #d9d9d9 2px solid;
  height: 80px;
}

.product-carousel .icon {
  width: 20px;
  height: 20px;
  border: 1px solid #90a3bf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #90a3bf;
}

.product-carousel span {
  font-size: 12px;
  color: #90a3bf;
  font-weight: 600;
}

.product-carousel h6 {
  font-size: 14px;
  font-weight: 700;
}

.product-carousel a {
  text-decoration: none;
  padding: 10px 60px;
  font-size: 14px;
  border-radius: 5px; /* Membuat border menjadi bulat */
}

.portofolio h3 {
  font-size: 20px;
  font-weight: 700;
}

.portofolio h5 {
  font-size: 14px;
  font-weight: 700;
  color: #90a3bf;
}

.portofolio h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.portofolio h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #90a3bf;
  width: 80%;
}

.portofolio p {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Inter";
  color: #525252;
  text-align: justify;
}

.portofolio .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #90a3bf;
}

.portofolio a {
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0px 0px 5px 5px; /* Membuat border menjadi bulat */
}

.footer {
  padding: 50px 10px;
  display: flex;
  align-items: center;
}

.footer-img {
  width: 70%;
  height: 70%;
}

.footer-desc {
  font-size: 14px;
  color: #90a3bf;
  font-weight: 500;
  width: 42%;
  text-align: justify;
}

.footer-mail {
  font-size: 20px;
  color: #434343;
  font-weight: 500;
  width: 47%;
  text-align: justify;
}

.footer-mail a {
  text-decoration: none;
  color: #434343;
  font-family: "Bai Jamjuree";
}

.footer-social h6 {
  font-size: 20px;
  font-family: "Bai Jamjuree";
  font-weight: 700;
  margin-top: 10px;
}

.footer-social a {
  text-decoration: none;
  color: #434343;
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-weight: 500;
}

.footer-copyright {
  font-size: 16px;
  color: #1a202c;
  font-weight: 600;
}

/* Halaman About */
.about {
  margin-top: 40px;
}

.about {
  border-radius: 10px;
  /* padding: 20px; */
  background-color: #ffffff;
}

.about-img {
  width: 60%;
}

.about h6 {
  font-size: 16px;
  color: #1a202c;
  font-weight: 600;
}

.about p {
  width: 96%;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  color: #696969;
  text-align: justify;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.vs h4 {
  font-weight: 600;
  font-size: 32px;
}

.vs p {
  color: #696969;
  font-family: "Inter";
  width: 80%;
  text-align: justify;
}

.vs .visi {
  width: 50%;
  text-align: center;
}

.another-carousel-wrapper {
  position: relative;
}

.carousel-button {
  background-color: #f6f7f9;
  color: #000;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

/* Menempatkan tombol panah kiri di kiri */
#prev-arrow {
  position: absolute;
  left: 10px; /* Mengatur posisi panah kiri di dalam wrapper */
  top: 50%;
}

/* Menempatkan tombol panah kanan di kanan */
#next-arrow {
  position: absolute;
  right: 10px; /* Mengatur posisi panah kanan di dalam wrapper */
  top: 50%;
}

/* halaman prodcut */
.card-product .icon {
  width: 20px;
  height: 20px;
  border: 1px solid #90a3bf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #90a3bf;
}

.card-product span {
  font-size: 12px;
  color: #90a3bf;
  font-weight: 600;
}

.card-product h6 {
  font-size: 14px;
  font-weight: 700;
}

.card-product a {
  text-decoration: none;
  padding: 10px 60px;
  font-size: 14px;
  border-radius: 5px; /* Membuat border menjadi bulat */
}

/* Media Queries */
@media (max-width: 576px) {
  /* Small screens (sm) */
  body {
    background-color: #f6f7f9;
    padding-top: 150px;
  }

  .banner {
    background-position: left; /* Posisikan gambar di tengah */
    background-size: 480px auto; /* Lebar gambar 200px, tinggi otomatis */
    border-radius: 10px; /* Membuat border menjadi bulat */
  }

  .banner .text {
    width: 100%;
    padding: 50px 20px 70px 20px;
  }

  .banner h2 {
    font-size: 20px; /* Ukuran teks lebih kecil untuk mobile */
    font-weight: 600;
    line-height: 32px; /* Mengatur jarak antar baris */
    text-align: justify; /* Justify teks */
  }

  .banner p {
    font-size: 13px; /* Ukuran teks lebih kecil untuk mobile */
    text-align: justify; /* Justify teks */
  }

  .banner a {
    text-decoration: none;
    padding: 16px 40px;
    font-size: 12px;
    border-radius: 8px; /* Membuat border menjadi bulat */
  }

  .card-row h6 {
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
  }

  .card-row p {
    font-size: 10px;
    text-align: justify;
    color: #90a3bf;
    font-weight: 700;
  }

  .card-row .icon {
    font-size: 15px;
  }

  .product-carousel p {
    color: #90a3bf;
    font-weight: 700;
    font-size: 10px;
  }

  .product-carousel .icon {
    width: 20px;
    height: 20px;
    border: 1px solid #90a3bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #90a3bf;
  }

  .product-carousel span {
    font-size: 12px;
    color: #90a3bf;
    font-weight: 600;
  }

  .product-carousel h6 {
    font-size: 14px;
    font-weight: 700;
  }

  .product-carousel a {
    text-decoration: none;
    font-size: 10px;
    padding: 6px 40px;
    border-radius: 5px; /* Membuat border menjadi bulat */
  }

  .portofolio h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .portofolio h5 {
    font-size: 14px;
    font-weight: 700;
    color: #90a3bf;
  }

  .portofolio h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }

  .portofolio h6 {
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    color: #90a3bf;
    width: 100%;
  }

  .portofolio p {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    font-family: "Inter";
    color: #525252;
    text-align: justify;
  }

  .portofolio .icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #90a3bf;
  }

  .footer-img {
    width: 70%;
    height: 80%;
  }

  .footer-desc {
    margin: auto;
    font-size: 18px;
    color: #90a3bf;
    font-weight: 500;
    width: 90%;
    text-align: justify;
  }

  .footer-mail {
    margin: 10px auto 0px auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .footer-mail a {
    width: 100%;
    text-decoration: none;
    color: #434343;
    font-family: "Bai Jamjuree";
    letter-spacing: 2px;
  }

  .footer-social h6 {
    font-size: 20px;
  }

  .footer-social a {
    font-size: 20px;
  }

  .footer-barcode-p {
    font-size: 20px;
  }

  .footer-barcode {
    width: 90%;
  }

  .footer-copyright {
    text-align: center;
  }

  /* Halaman About */

  .about {
    margin-top: 30px;
  }

  .about h6 {
    font-size: 16px;
    color: #1a202c;
    font-weight: 600;
    text-align: center;
  }

  .about p {
    width: 100%;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #90a3bf;
    text-align: justify;
    line-height: 22px;
  }

  .vs .visi {
    width: 100%;
  }

  .award-img {
    width: 80%;
  }

  #prev-arrow,
  #next-arrow {
    display: none !important; /* Menambahkan !important agar aturan CSS ini diterapkan dengan prioritas tinggi */
  }

  .card-product p {
    color: #90a3bf;
    font-weight: 700;
    font-size: 10px;
  }

  .card-product .icon {
    width: 20px;
    height: 20px;
    border: 1px solid #90a3bf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #90a3bf;
  }

  .card-product span {
    font-size: 12px;
    color: #90a3bf;
    font-weight: 600;
  }

  .card-product h6 {
    font-size: 14px;
    font-weight: 700;
  }

  .card-product a {
    text-decoration: none;
    font-size: 10px;
    padding: 6px 40px;
    border-radius: 5px; /* Membuat border menjadi bulat */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Medium screens (md) */
  .banner {
    background-position: left; /* Posisikan gambar di tengah */
    background-size: 480px auto; /* Lebar gambar 200px, tinggi otomatis */
    border-radius: 10px; /* Membuat border menjadi bulat */
  }

  .banner .text {
    width: 100%;
    padding: 50px 30px 70px 30px;
  }

  .banner h2 {
    font-size: 20px; /* Ukuran teks lebih kecil untuk mobile */
    font-weight: 600;
    line-height: 32px; /* Mengatur jarak antar baris */
    text-align: justify; /* Justify teks */
  }

  .banner p {
    font-size: 13px; /* Ukuran teks lebih kecil untuk mobile */
    text-align: justify; /* Justify teks */
  }

  .banner a {
    text-decoration: none;
    padding: 16px 40px;
    font-size: 12px;
    border-radius: 8px; /* Membuat border menjadi bulat */
  }

  .product-carousel a {
    padding: 10px 50px;
    font-size: 13px;
  }

  .footer-img {
    width: 50%;
    height: 80%;
  }

  .footer-desc {
    font-size: 18px;
    color: #90a3bf;
    font-weight: 500;
    width: 80%;
    text-align: justify;
  }

  .footer-mail {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
  }

  .footer-mail a {
    width: 100%;
    text-decoration: none;
    color: #434343;
    font-family: "Bai Jamjuree";
  }

  .footer-social h6 {
    font-size: 20px;
  }

  .footer-social a {
    font-size: 20px;
  }

  .footer-barcode-p {
    font-size: 20px;
  }

  .footer-barcode {
    width: 90%;
  }

  .footer-copyright {
    text-align: start;
  }

  .portofolio p {
    font-size: 11px;
  }

  .vs h4 {
    font-size: 28px;
  }

  .vs .visi {
    width: 80%;
    text-align: center;
  }

  #prev-arrow,
  #next-arrow {
    display: none !important; /* Menambahkan !important agar aturan CSS ini diterapkan dengan prioritas tinggi */
  }

  .about {
    margin-top: 30px;
  }

  .about-img {
    width: 50%;
  }

  .about h6 {
    font-size: 20px;
    color: #1a202c;
    font-weight: 600;
    text-align: center;
  }

  .about p {
    width: 100%;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    color: #90a3bf;
    text-align: justify;
    line-height: 22px;
  }

  .award-img {
    width: 70%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* Large screens (lg) */
  .banner .text {
    width: 100%;
    padding: 50px 30px 70px 30px;
  }

  .banner h2 {
    font-size: 30px;
  }

  .banner p {
    font-size: 19px;
  }

  .card-row h6 {
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
  }

  .card-row p {
    font-size: 10px;
    text-align: justify;
    color: #90a3bf;
    font-weight: 700;
  }

  .card-row .icon {
    font-size: 15px;
  }

  .product-carousel a {
    padding: 10px 55px;
    font-size: 14px;
  }

  .footer-img {
    width: 100%;
    height: 80%;
  }

  .footer-desc {
    font-size: 18px;
    color: #90a3bf;
    font-weight: 500;
    width: 100%;
    text-align: justify;
  }

  .footer-mail {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
  }

  .footer-mail a {
    width: 100%;
    text-decoration: none;
    color: #434343;
    font-family: "Bai Jamjuree";
  }

  .footer-social h6 {
    font-size: 20px;
    margin-top: 10px;
  }

  .footer-social a {
    font-size: 20px;
  }

  .footer-barcode-p {
    font-size: 20px;
  }

  .footer-barcode {
    width: 90%;
  }

  .footer-copyright {
    text-align: start;
  }

  .portofolio p {
    font-size: 12px;
  }

  .about {
    margin-top: 40px;
  }

  .about-img {
    width: 80%;
  }

  .vs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 30px 0px;
  }

  .vs h4 {
    font-weight: 600;
    font-size: 28px;
  }

  .vs p {
    color: #696969;
    font-family: "Inter";
    width: 80%;
    text-align: justify;
  }

  .vs .visi {
    width: 80%;
    text-align: center;
  }

  .award-img {
    width: 60%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  /* Extra Large screens (xl) */
  .banner .text {
    width: 45%;
    padding: 50px;
  }

  .banner h2 {
    font-size: 32px;
  }

  .banner p {
    font-size: 20px;
  }

  .card-row h6 {
    text-align: justify;
    font-size: 12px;
    font-weight: 600;
  }

  .card-row p {
    font-size: 10px;
    text-align: justify;
    color: #90a3bf;
    font-weight: 700;
  }

  .card-row .icon {
    font-size: 15px;
  }

  .product-carousel a {
    padding: 12px 60px;
    font-size: 15px;
  }

  .footer-img {
    width: 100%;
    height: 80%;
  }

  .footer-desc {
    font-size: 18px;
    color: #90a3bf;
    font-weight: 500;
    width: 75%;
    text-align: justify;
  }

  .footer-mail {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
  }

  .footer-mail a {
    width: 100%;
    text-decoration: none;
    color: #434343;
    font-family: "Bai Jamjuree";
  }

  .footer-social h6 {
    font-size: 20px;
    margin-top: 10px;
  }

  .footer-social a {
    font-size: 20px;
  }

  .footer-barcode-p {
    font-size: 20px;
  }

  .footer-barcode {
    width: 90%;
  }

  .footer-copyright {
    text-align: start;
  }

  .portofolio p {
    font-size: 13px;
  }

  .about {
    margin-top: 40px;
  }

  .about-img {
    width: 85%;
  }

  .vs h4 {
    font-size: 32px;
  }
}
